

body{
    background-color: lightcoral;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
background-color: rgba(252, 237, 220, 0.445);
}

#direita{
    text-align: right;
}

#esquerda{
    text-align: left;
}

#meio{
    text-align: center;
}

#justify{
    text-align: justify;
}

#lim{
    text-transform: lowercase;
}

#lao{
text-transform: uppercase;
}

#capitalizado{
    text-transform: capitalize;
    /* ele coloca a primeira letra em maiusculo (de toda palavra) */
}

h1{
    font-size: 80px;
    /* font-weight:; bglh de espessura */
    text-shadow: 5px 5px black;
}

#decorado{
    text-decoration: overline underline;
}

#outra-fonte{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@font-face {
    font-family: 'ceveat';
    src: url("./fontes/Caveat-VariableFont_wght.ttf");
}

#personalizada{
   font-family: 'ceveat', sans-serif ;

}
