@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
  background-color: rgb(253, 237, 231);
}

header {
  background-color: rgb(237, 214, 206);
  position: sticky;
  top: 0px;
  text-align: center;
}

nav{
    display: inline-block;
}

#domenu{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  font-size: 26px;
  /* overflow: hidden; */
}

#itensdomenu{
  list-style: none;
}

/* falta colocar um em cada canto */

li{
  display: inline-block;
  padding: 5px;
}

li:hover{
color: white;
background-color: lightgray;
cursor: pointer;
border-radius: 15px;
transform: scaleX(1.0);
}

/* tem que mexer agora em levar eles para tal lugar */

h1{
 text-align: left; 
}

#text1 {
  display: inline-block;
  width: 50%;
  text-align: left;
  font-size: 25px;
}

#daimg{
  
}

#ella{
    width: 406px;
    height: 406px;
    margin: 50% ;
}

#heart{
    width: 406px;
    height: 406px;
    margin: 50%;
}

input{
    background-color: rgb(217, 185, 180);
}

footer {
  background-color: rgb(237, 214, 206);
}